body {
   background-color: white;
}

#contact-list {
   display: block;
}

#new-contact-form {
height: fit-content;
}


input {
   background-color: white;
}

label{
   width: 70px;
   display: inline-block;
}

input[type="text"] {
   height: 20px; 
   margin: 5px; 
}

input[type=text]:focus {
   background-color: darkgray;
}

input[type="email"] {

}

textarea[type="text"] {

}

li {
   padding: 5px;
   list-style-type: none;
}
li:nth-child(even) {background: #CCC}
li:nth-child(odd) {background: #eee}


button {
   background-color: #00C5BE;
   border: none;
   color: #fff;
   padding: 5px 20px;
   margin: 10px;
   text-transform: uppercase;
   font-weight: normal;
   font-size: 1rem;
}

input[type="submit"] {
   background-color: #00C5BE;
   border: none;
   color: #fff;
   padding: 5px 20px;
   margin: 10px;
   text-transform: uppercase;
   font-weight: normal;
   font-size: 1rem;
}

.contact-card {
   width: 250px;
   background: #eee;
   text-align: center;
   padding: 15px;
   border-radius: 0.4rem;
   border: 2px solid white;
   -webkit-box-shadow: 5px 5px 5px 0px rgba(209,202,209,1);
   -moz-box-shadow: 5px 5px 5px 0px rgba(209,202,209,1);
   box-shadow: 5px 5px 5px 0px rgba(209,202,209,1);
   display: inline-block;
   margin: 10px 10px;
}

.contact-name
{
   font-size: 1.3rem;
   display: block;
}
.contact-email {
   display: block;
}
.contact-phone {
   display: inline;
   width: 31%;
}
.contact-company {
   display: inline-block;
   width: 31%;
}
.contact-notes {
   display: block;
}
.contact-twitter {
   display: block;
}

.contact-name, .contact-phone,.contact-email, .contact-company, .contact-notes,.contact-twitter {
   text-align: center;
   background-color: white;
   margin: 5px;
   padding: 0.3em 0.75em;
   border-radius: 0.3rem;
   box-shadow: inset 2px 2px 4px #aaa;
}


.updateButton{
   margin-top: 5px;
}

.deleteButton{
   margin-top: 5px; 
}  